:root {
    --background-color: #E9D9CA;
    --light-hover: #D9C9BA;
    --secondary-color: #000F08;
    --dark-hover: #202F28;
    overflow: hidden;
}



@font-face {
    font-family: 'Moldy Cheese';
    src: url(MouldyCheeseRegular.ttf);
}

body {
    background-color: var(--background-color);
    font-family: 'Moldy cheese', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#answer-container {
    display: flex;
    flex-direction: column;
}

#feedback {
    height: 10px;
}

.section {
    position: relative;
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 10px;
    margin: 5px 10px;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
}

button {
    width: 350px;
    font-family: inherit;
    font-size: 20px;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease;
}

button:enabled:hover {
    cursor: pointer;
    color: var(--dark-hover);
    border-color: var(--dark-hover);
    background-color: var(--light-hover);
}

#question {
    width: 60vw;
}

p:hover, h2:hover {
    cursor: default;
}

#title {
    margin-bottom: 0;
}

#score, #description {
    margin-top: 0;
}

